<section id="jczqAgainstView">

    <div class="header">
        <h1>
            <i class="refresh fr"></i>
            <a class="back" title="返回">
            </a><i class="fl">情报分析</i>
        </h1>
    </div>


    <div class="againVsTeam">
        <div class="czInfoS">
            <span id="teamVs" class="showTip">尚无赛事信息</span>
        </div>
        <div class="lineB"></div>
    </div>

    <div class="mBox">

        <div class="tabs">
            <ul>
                <li id="integral">积分</li>
                <li id="record">战绩</li>
                <li id="europeLost">欧赔</li>
                <li id="asiaPlate" class="click">亚盘</li>
                <li id="bigness">大小</li>
            </ul>
        </div>

        <div id="against">

        </div>
    </div>
</section>