<section id="jczqListView">

    <!--中国农业银行-->
    <div class="header">
        <h1>
            <a class="back" title="返回"></a><span class="fl" id="title"></span>
        </h1>
    </div>

    <div class="box">
        
        <!--投注列表-->
        <table cellpadding="0" cellspacing="0" width="100%" class="zckjTab">
            <colgroup>
                <col width="85%" />
                <col width="15%" />
            </colgroup>
            <tbody>

            </tbody>
    
        </table>
    </div>

    <!--尾部-->
    <div class="footer">
        <div class="protocol">
            <a id="protocolA">阅读代购协议</a>
        </div>
        <div class="tzChose">
            <i id="guessBonus" class="red fl">奖金：5.36 ~26.04</i>
            <i class="fr">倍</i>
            <div class="fr chosegg">
                <i id="crossTxt" class="fl">三串1</i>
                <a id="crossWay" class="fl"><i></i></a>
                <input id="timesUnit" type="text" value="1">
            </div>
        </div>
        <div class="tzBox">
            <a class="gmBtn" title="付款"></a> <!--<a class="hmBtn" title="合买"></a>-->
            共
            <span id="pays"></span> 元
            <span id="totals"></span> 注
            <span id="times"></span> 倍
        </div>
    </div>

    <div class="ggbox">
        <div class="tabopition">
            <ul>
                <li class="click">自由过关</li>
                <li>多串过关</li>
            </ul>
        </div>
        <ul class="tabcon">
            <li>3串1</li>
            <li>3串1</li>
            <li>3串1</li>
            <li>3串1</li>
            <li>3串1</li>
            <li>3串1</li>
            <li>3串1</li>
            <li>3串1</li>
            <li>3串1</li>
            <li>3串1</li>
            <li class="click">3串1</li>

        </ul>
    </div>

    <div class="lCover">

    </div>

</section>