<section id="jczqSpLotteryView">

    <!--中国农业银行-->
    <div class="header">
        <h1>
            <a class="back" title="返回"></a><span class="fl" id="title">竞彩足球开奖详情</span>
        </h1>
    </div>

    <div class="againVsTeam">
        <div class="czInfoS">
            <span id="teamVs" class="showTip">尚无赛事信息</span>
        </div>
        <div class="lineB"></div>
    </div>

    <!--详情-->
    <div class="mBox">
        <div class="balls">
            <div class="betContain">
            <div class="showTable">
            </div>
             </div>
        </div>
    </div>

    <!--尾部-->
    <div class="footer">
        <div class="tzBox">
            <span id="toBuy">去投注</span>

        </div>
    </div>

</section>