<section id="happyListView">

    <!--中国农业银行-->
    <div class="iheader">
        <h1>
            <a class="back" title="返回"></a><span class="fl">大乐透投注</span>
        </h1>
    </div>

    <!--操作按钮-->
    <div class="ibtnMenu">
        <a class="first">机选1注</a> <a class="end">继续投注</a>
    </div>

	<!--期号-->
    <div class="ilistIssue">
    	<div class="czInfoS ">
        	<span id="HLIssueNo" class="showTip fr">暂无期号</span>
        </div>
        <div class="lineB"></div>
    </div>

    <!--投注列表-->
    <table cellpadding="0" cellspacing="0" width="100%" class="listTz">
        <colgroup>
            <col width="40"/>
            <col width="" />
            <col width="40" />
        </colgroup>
        <tbody>

        </tbody>
    </table>

    <!--尾部-->
    <div class="footer">
        <div class="protocol">
            <a id="protocolA">阅读代购协议</a>
            <label class="plus">
                <input id="addtionSupper" type="checkbox">追加
            </label>
        </div>
        <div class="tzChose">
            <label>
                <input id="stopBetting" type="checkbox" checked/>中奖停止追号
            </label>
            追<input id="issueUnit" type="tel" value="1" class="shoutInp" maxlength="2"/>期
            投<input id="timesUnit" type="tel" value="1" class="shoutInp" maxlength="3"/>倍
        </div>
        <div class="tzBox">
            <a class="gmBtn" title="付款"></a> <!--<a class="hmBtn" title="合买"></a>-->
            共
            <span id="pays"></span> 元
            <span id="totals"></span> 注
            <span id="times"></span> 倍
            <span id="issueCount"></span> 期
        </div>
    </div>
    
</section>