<section id="homeView"> 

    <!--中国农业银行-->
    <div class="header">
        <h1>中国农业银行</h1>
    </div>

    <div class="box">
    	
        <!--广告图片-->
        <div class="bunner">
            <div id="slides" class="ctx"></div>
            <div class="grayBg">
                <a class="title"></a>
                <dl class="next">

                </dl>
            </div>
        </div>
        
        <!--菜单栏-->
        <div class="nav">
            <ul>
                <li><a id="person"><b class="loginBg"></b><span>登陆/注册</span></a></li>
                <li><a id="award"><b class="lotteryInfo"></b><span>开奖信息</span></a></li>
                <li><a id="banks"><b class="rechargeDraw"></b><span>充值</span></a></li>
                <li><a id="notice"><b class="proclaimed"></b><span>活动公告</span></a></li>
            </ul>
        </div>
        <div class="lineA"></div>
        
        <!--彩种列表-->
        <div class="czList">
            <ul>
                <li id="redblue">
                    <dl>
                        <dt class="fl">
                            <b class="ssqLogo fl"></b>
                        </dt>
                        <dd class="fl">
                            <h2>双色球</h2>
                            <p class="f16 c999">彩民最爱大盘玩法</p>
                        </dd>
                        <dd class="fr more">
                            <a><b class="moreBg"></b>
                            </a>
                        </dd>
                    </dl></li>
                <li id="happy">
                    <dl>
                        <dt class="fl">
                            <b class="dltLogo fl"></b>
                        </dt>
                        <dd class="fl">
                            <h2>大乐透</h2>
                            <p class="f16 c999">追加投注 更大惊喜</p>
                        </dd>
                        <dd class="fr more">
                            <a><b class="moreBg"></b>
                            </a>
                        </dd>
                    </dl></li>
                <li id="luck">
                    <dl>
                        <dt class="fl">
                            <b class="djLogo fl"></b>
                        </dt>
                        <dd class="fl">
                            <h2>十一运夺金</h2>
                            <p class="f16 c999">10分钟一期 简单易中</p>
                        </dd>
                        <dd class="fr more">
                            <a><b class="moreBg"></b>
                            </a>
                        </dd>
                    </dl></li>
                <li id="more" class="end">
                    <dl>
                        <dt class="fl">
                            <b class="moreLogo fl"></b>
                        </dt>
                        <dd class="fl">
                            <h2>更多玩法</h2>
                            <p class="f16 c999"></p>
                        </dd>
                        <dd class="fr more">
                            <a><b class="moreBg"></b>
                            </a>
                        </dd>
                    </dl></li>
    
            </ul>
        </div>
        
        <!--合买大厅-->
        <div class="toHall">
            <h2>
                <a><b class="toHallBg"></b>合买大厅</a>
            </h2>
            <div class="toHallCont">
                <ul>
                    <li><a>刷新爱情</a> 剩200份</li>
                    <li class="mt5"><i class="cf60">[竞彩足球]</i> 75%+（保）20%</li>
                    <li class="mt5"><i class="jdtBg"><i class="jdtBg1"><i>50%</i>
                        </i>
                    </i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>