<section id="loginView"> 

    <!--中国农业银行-->
    <div class="iheader">
        <h1>
            <a class="back" title="返回"></a> <span class="fl">登录</span>
            <a id="goReg" class="fr">注册</a>
        </h1>
    </div>

    <!--登录-->
    <div id="login" class="inputList">
        <div class="loginBox">
            <ul>
                <li><input id="loginName" type="text"
                           class="username" placeholder="用户名" maxlength="50" /></li>
                <li class="end"><input id="loginPwd" type="password" class="password"
                                       placeholder="密码" /></li>
            </ul>
        </div>
    </div>
    
	<div class="button"><a class="loginBtn">立即登录</a></div>

</section>