<section id="registerView"> 

    <!--中国农业银行-->
    <div class="iheader">
        <h1>
            <a class="back" title="返回"></a> <span class="fl">注册</span>
        </h1>
    </div>

    <!--注册-->
    <div id="register" class="inputList">

        <div class="loginBox">
            <ul>
                <li><input id="regName" type="text"
                           class="username" placeholder="用户名长度为4~50位字符" maxlength="50" />
                </li>
                <li><input id="regPwd" type="password" class="password"
                           placeholder="密码长度为6~15位字符" />
                </li>
                <li><input id="regSurePwd" type="password" class="password"
                           placeholder="请您再次确认密码" />
                </li>
                <!--<li><input id="regPhone" type="tel" class="phone"
                           placeholder="手机号码" />
                </li>-->
            </ul>
        </div>
    </div>

    <div class="button"><a class="loginBtn">立即注册</a></div>
</section>