<section id="digitLookView"> 

    <!--中国农业银行-->
    <div class="header">
        <h1>
            <a class="back" title="返回"></a><span class="fl" id="title"></span>
        </h1>
    </div>

    <!--详情-->
    <div class="box balls">
        <div class="details">

        </div>

        <div class="p15">
            <table width="100%" cellspacing="0" cellpadding="0" class="zjNum">
                <colgroup>
                    <col width="33%">
                    <col>
                    <col width="33%">
                </colgroup>
                <thead>
                <tr>
                    <td>奖项</td>
                    <td>中奖注数</td>
                    <td>每注奖金</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <!--尾部-->
    <div class="footer">
        <div class="tzBox">去投注</div>
    </div>

</section>