<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,
    	maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <title>充值成功</title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../css/tablet.css"
          media="only screen and (min-width: 640px)" />
    <link rel="stylesheet" href="../../css/phone.css"
          media="only screen and (max-width: 639px)" />
    <link rel="stylesheet" href="../../css/media.css" />
</head>
<body>
<div class="box">
    <!--中国农业银行-->
    <div class="header"><h1><a id="mback" class="back" title="返回" onclick="javascript:window.history.go(-8);"></a><a class="fl">农行手机银行充值</a></h1></div>
</div>
<div class="radiusShadow mt30">
    <ul class="personCenter">
        <li class="tc">充值失败</li>
        <li class="end tc"><a id="backNow" class="czCbtn" onclick="javascript:window.history.go(-8);">立即返回</a></li>
    </ul>
</div>
</body>
</html>