@charset "utf-8";

@media only screen {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 420px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 421px) and (max-width: 520px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 521px) and (max-width: 639px) {
    html {
        font-size: 22px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 720px) {
    html {
        font-size: 24px;
    }
}

@media only screen and (min-width: 721px) and (max-width: 840px) {
    html {
        font-size: 26px;
    }
}

@media only screen and (min-width: 841px) and (max-width: 920px) {
    html {
        font-size: 28px;
    }
}

@media only screen and (min-width: 921px) and (max-width: 1024px) {
    html {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    html {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1201px) {
    html {
        font-size: 34px;
    }
}

