@charset "utf-8";
/* CSS Document */
.mlr5{margin:0 0.2em}
.f16{font-size:0.6em;}
.p15{padding:0.5em 1em}
.mlr10{margin:0 0.3em}
.mt5{margin-top:0.4em}

.loginBg,.proclaimed,.lotteryInfo,.rechargeDraw,.moreBg,.toHallBg,.back,.radioBox,.menu,.shake,.delete,.sure,.username,.password,.popup li.click,.personBg,.rechargeBg,.tkBg,.mxBg,.gcjlBg,.adrensBg,.bandkBg,.bandpBg,.xgpasBg,.refresh,.czdelete,.sj,.share,.hmBg,.gcBg,.kjBg,.wfBg,.czZfb,.czYl,.czLkl,.hmBtn,.gmBtn,.phone,.computer,.zhTb,.nhBg,.closeAll{background:url(../images/phone.png) no-repeat;display:inline-block;opacity:0.9;filter:alpha(opacity:90);-moz-opacity:0.9}
.lineA,.lineB,.lineC{background:url(../images/bg.png) repeat-x;display:inline-block}
.ssqLogo,.dltLogo,.djLogo,.moreLogo{background:url(../images/phonecz.png) repeat-x;display:inline-block}

/*头部*/
.header{position:fixed;top:0;width:100%;background:#009983;color:#fff;z-index:10;}
.header h1{font-size:18px;padding:0 0.3em;font-weight: normal;line-height:40px;height:40px}
.header h1 a{color:#fff}

/*尾部*/
.footer{position: fixed !important;bottom: 0px !important;left: 0px !important;width:100%;z-index: 10;}
.footer .tzBox{padding:0 0.5em;height:40px;line-height:40px;color:#fff;background:#009983;font-size:18px;text-align:center;}

/*删除，确定按钮*/
.delete,.sure,.hmBtn,.gmBtn,.computer,.zhTb{width:50px;height:40px}
.zhTb{background-position:-11px -3084px;float:left}
.computer{background-position:-12px -3141px;float:left}
.delete{background-position:4px -725px;float:left}
.sure{background-position:0 -801px;float:right}
.hmBtn{background-position:-8px -2807px;float:left}
.gmBtn{background-position:-7px -2865px;float:right}

/*内容容器*/
.box{width:100%;overflow:hidden;margin:40px auto 0}
.mBox{width:100%;overflow:hidden;margin:90px auto 0;}
.lBox{width:100%;overflow:hidden;margin:130px auto 0;}

/*二级菜单*/
.btnMenu{position:fixed;top:40px;width:100%;height:40px;line-height:40px;vertical-align:middle;background:#333;font-size:0.8em;overflow:hidden;z-index: 10;display:-webkit-box;display:-moz-box;display:box;}
.btnMenu a{display:block;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;height:40px;line-height:40px;vertical-align:middle;text-align:center;color:#ccc;border-left:1px solid #414141;border-right:1px solid #2c2a2a}
.gcjl .click{background: #000;color:#fff;}

/*选球期号*/
.ballIssue{position:fixed;top:40px;width:100%;background:#FFF;z-index:10;}
.listIssue{position:fixed;top:80px;width:100%;background:#FFF;z-index:10;}

/*滚动广告*/
.bunner{width:100%;height:7.5em;overflow:hidden;text-align:left;position:relative;text-align:center}
.bunner .ctx{width:100%;height:7.5em;overflow:hidden;}
.bunner .notice{height:7.5em;position: absolute;}
.grayBg{width:100%;height:18px;position:absolute;background:#368d89;opacity:0.5;filter:alpha(opacity:50);-moz-opacity:0.5;bottom:0;z-index:1}
.title{line-height:18px;position:absolute;padding:0 10px;left:0;bottom:0;font-size:12px;color:#fff;z-index:2}
.next{position:absolute;z-index:2;bottom:0;right:0;padding:0 5px 5px 0}
.next dd{width:4px;height:4px;background:#a9a89d;border:1px solid #44433f;float:left;margin-right:5px;cursor:pointer}
.next dd.click{background:#1681c0;border:1px solid #012f4a}

/*菜单栏*/
.nav{margin:0 auto;background:#333;font-size:0.6em;overflow:hidden;padding:0.5em 0}
.nav li{width:25%;float:left;text-align:center}
.nav li a{display:inline-block;width:100%;color:#999}
.nav li a:hover{color:#ccc}
.nav li a:hover b{opacity:1;filter:alpha(opacity:100);-moz-opacity:1}
.loginBg,.proclaimed,.lotteryInfo,.rechargeDraw{width:40px;height:40px;display:block;margin:0 auto 2px auto;background-color:#eee;border-radius:20px;box-shadow:1px 3px 0 #fff inset;opacity:0.8;filter:alpha(opacity:80);-moz-opacity:0.8}
.loginBg{background-position:-7px -6px}
.proclaimed{background-position:-6px -56px}
.lotteryInfo{background-position:-7px -108px}
.rechargeDraw{background-position:-6px -157px}
.lineA{width:100%;height:5px;background-position:0 -204px;float:left;margin:0 auto;line-height:4px;overflow:hidden}

/*彩种列表*/
.czList{background:#fff;border-radius:5px;overflow:hidden;margin:24px 4px 12px 4px;box-shadow:0 2px 3px #e3e1dc inset;padding-bottom:1px}
.czList ul{border:1px solid #ccc;border-radius:5px}
.czList ul li{cursor:pointer;border-bottom:1px solid #ccc;padding:0.5em;overflow:hidden;height:54px}
.czList ul li.end{border:none}
.czList ul li:hover,.personCenter li:hover,.detailsList li:hover,.detailsList dd:hover,.gzlist li:hover{background:#f5f5f5}
.czList ul li:hover dt a,.delete:hover,.back:hover,.sure:hover,.menu:hover,.toHall h2 a:hover b,.share:hover,.refresh:hover,.radioBox:hover,.popup li:hover,.shake:hover,.hmBg:hover{opacity:1;filter:alpha(opacity:100);-moz-opacity:1}
.czList h2{font:1em/1.7em "微软雅黑"}
.ssqLogo,.dltLogo,.djLogo,.moreLogo{width:54px;height:54px;margin-right:0.44em}
.ssqLogo{background-position:-11px -165px}
.dltLogo{background-position:-11px -88px}
.djLogo{background-position:-11px -11px}
.moreLogo{background-position:-11px -242px}
.more a{width:30px;height:54px;display:inline-block;text-align:center}
.more a b{margin-top:13px}
.moreBg{width:18px;height:27px;background-position:-115px -255px;line-height:27px}
.more a:hover,.moreBg:hover{background-position:-115px -218px}

/*合买大厅*/
.toHall{margin:0 5px 10px 5px;overflow:hidden}
.toHall h2{float:left;width:20%;height:85px;background:#fd6c00;border-radius:5px;box-shadow:0 1px 0 #d25a00 inset;border-bottom:1px solid #fff;text-align:center}
.toHall h2:hover{background:#f56901}
.toHall h2 a{width:100%;color:#fff;font:0.5em/1.4em "微软雅黑";display:inline-block}
.toHallBg{width:40px;height:47px;background-position:-3px -271px;display:block;margin:0.5em auto 0 auto}
.toHallCont{width:77%;height:85px;border-radius:5px;box-shadow:0 2px 3px #e3e1dc inset;padding-bottom:1px;background:#fff;float:right;font-size:0.8em}
.toHallCont ul{height:73px;border:1px solid #ccc;border-radius:5px;padding:5px}
.jdtBg{background:#ccc;height:8px;display:inline-block;width:80%}
.jdtBg1{background:#21707f;display:inline-block;float:left;height:8px;width:50%;position:relative}
.jdtBg1 i{position:absolute;right:-15px;top:15px;color:#f60;font-family:Verdana, Arial, Helvetica, sans-serif}

/*数字彩*/
.back{width:35px;height:40px;background-position:-10px -350px;float:left;cursor:pointer}
.radioBox{height:40px;background-position:right -434px;padding-right:0.5em}
.menu{width:40px;height:40px;background-position:0 -508px;cursor:pointer}
.czInfo{background:#eee;line-height:30px;font-size:0.8em;padding:0.3em 0.5em;overflow:hidden;border-top:1px solid #fff}
.czInfoS{background:#eee;line-height:30px;font-size:0.8em;padding:0.3em 0.5em;overflow:hidden;border-top:1px solid #fff}
.shake{height:30px;background-position:-14px -591px;padding-left:30px}
.shake:hover{background-position:-14px -651px}
.lineB{height:5px;background-position:0 -868px;width:100%;display:block}

.balls{margin-bottom: 50px;}

.redBall{color:#e76161;overflow:hidden;margin:0.5em 0 0}
.redBall li{width:45px;height:55px;float:left;}
.redBall li .num{width:35px;height:35px;line-height:35px;vertical-align:middle;border-radius:3px;background:#f1eeee;border:1px solid #ccc;font-size:0.8em;font-weight: bold;text-align:center;cursor:pointer;margin:0 auto;}
.redBall li .ext{width:37px;height:20px;line-height:20px;vertical-align:bottom;font-size:0.6em;text-align:center;margin:0 auto;}
.redBall li .click{background:#c00;border:1px solid #c00;color:#fff}
.redBall li .blue{background:#69c;border:1px solid #69c;color:#fff}

.lineC{height:5px;background-position:0 -885px;width:100%;display:block;overflow:hidden}

.blueBall{color:#69c;overflow:hidden;margin:.5em 0}
.blueBall li{width:45px;height:50px;float:left;}
.blueBall li .num{width:35px;height:35px;line-height:36px;vertical-align:middle;border-radius:3px;background:#f1eeee;border:1px solid #ccc;font-size:0.8em;font-weight: bold;text-align:center;cursor:pointer;margin:0 auto;}
.blueBall li .ext{width:37px;height:15px;line-height:15px;vertical-align:bottom;font-size:0.6em;text-align:center;margin:0 auto;}
.blueBall li .click{background:#69c;border:1px solid #69c;color:#fff}
.tipIconC{width:100%;height:1.5em;}
.tipIcon{width:3.5em;height:1.5em;line-height:1.5em;vertical-align:middle;text-align:center;font-size:0.8em;background: #07A08D;color: #fff;float: right;}

/*开奖号码*/
.lotteryNum{font-size:1.5em}
.lotteryNum i{margin:0 5px;font-family:Arial, Helvetica, sans-serif}
.details{font-size:1em;line-height:1.6em;padding:1em;}
.details .balls li{width:32px;height:32px}
.details .red{margin:0}
.detailsList{margin:0.5em 0.8em 50px;box-shadow:0 2px 3px #e3e1dc inset;border:1px solid #ccc;border-radius:5px;font-size:0.8em;line-height:1.5em}
.detailsList li{line-height:2em;border-bottom:1px solid #ccc;padding:0.5em}
.detailsList dd{padding:0 0.5em}
.detailsList i{margin:0 0.3em}

/*开奖信息*/
.listTab{font-size:1em;line-height:2em;text-align:center}
.listTab td{border-bottom:1px solid #ccc}
.listTab tbody tr:hover{background:#f0f0f0}

.detailTab{font-size:1em;line-height:2em;}
.detailTab td{border-bottom:1px solid #ccc}
.detailTab tbody tr:hover{background:#f0f0f0}

/*智能追号*/
.smartHead thead tr{background: #333;color: #fff;font-size:1em;text-align:center;}
.smartList{text-align:center;margin-bottom: 50px;}
.smartList tbody td{border-bottom:1px solid #ccc;color: #e76161;font-size: 0.8em;}
.smartList tbody tr:hover{background:#f0f0f0}
.smartModBox{width: 100%;line-height: 2em;font-size:1em;background: #fff;display: none;}
.smartModBox .ml{margin-left: 1em;}
.smartModBox .red{width:0.5em;height:0.5em;display:inline-block;background:red;border-radius:0.25em;box-shadow:0px 2px 0px #ddd}
.smartModBox .grey{width:0.5em;height:0.5em;display:inline-block;background:#ccc;border-radius:0.25em;box-shadow:0px 2px 0px #ddd}
.lCover{position:absolute;top:40px;left:0;width:100%;z-index: 5;display: none;background:#000;opacity:0.5;filter:alpha(opacity:50);-moz-opacity:0.5}

/*登陆 注册*/
.loginTitle{font:0.8em "微软雅黑";height:2em;border-bottom:1px solid #ccc;background:#eee;padding:0 0.4em;color:#e76161;}
.username,.password,.inputText,.phone{color:#999;width:100%;height:45px;border:none;padding:0;font:1.1em "微软雅黑";}
.username{background-position:right -997px}
.username:focus{background-position:right -915px}
.password{background-position:right -1162px}
.password:focus{background-position:right -1078px}
.phone{background-position:right -2962px}
.phone:focus{background-position:right -3020px}
.loginCon{width:452px;margin:0 auto 20px auto}
.loginBtn{width:100%;background:#009983;border:none;height:2.5em;line-height:2.5em;vertical-align:middle;font-size:1em;color:#fff;text-align:center;display: inline-block;border-radius:3px}

/*弹出层*/
.popup{display:none;margin:0 auto;position:fixed;width:95%;top:35px;border-bottom:1px solid #c6c6c6;box-shadow:0 1px 0px #f8f8f8;border-radius:3px;box-shadow:0 1px 3px #E3E1DC inset;border:1px solid #ccc;background:#eee;left:1%;z-index:30;}
.popup li{box-shadow:0 1px 0 #fff;background-color:#fff;border:2px solid #ccc;font-size:12px;width:90px;text-align:center;float:left;height:30px;line-height:30px;margin:3px;cursor:pointer}
.popup li.click{background-position:right -1240px;border-color:#21707f;background-color:#fff;color:#21707F}
.popup li:hover{border-color:#21707f}
.menuBox{display:none;margin:0 auto;position:fixed;top:35px;border-bottom:1px solid #c6c6c6;box-shadow:0 1px 0px #f8f8f8;border-radius:3px;box-shadow:0 1px 3px #E3E1DC inset;border:1px solid #ccc;background:#eee;padding:0.192em 0.577em 0.577em 0.577em;right:0.385em;z-index:30;}
.menuBox li{border-radius:3px;box-shadow:0 1px 0px #fff;background-color:#fff;font-size:18px;width:160px;height:40px;line-height:40px;margin-top:10px;cursor:pointer;border:1px solid #ccc}
.hmBg,.gcBg,.kjBg,.wfBg{height:34px;padding-left:35px;margin-left:5px;width:140px}
.hmBg{background-position:-10px -2061px}
.hmBgxz,.hmBg:hover{background-position:-10px -2148px}
.menuBox li.click,.menuBox li:hover{background:#07a08d;border:1px solid #07a08d;color:#fff}
.gcBg{background-position:-10px -2232px}
.gcBgxz,.gcBg:hover{background-position:-10px -2316px}
.kjBg{background-position:-10px -2377px}
.kjBgxz,.kjBg:hover{background-position:-10px -2449px}
.wfBg{background-position:-10px -2517px}
.wfBgxz,.wfBg:hover{background-position:-10px -2587px}

/*个人中心*/
.personBg{width:23px;height:30px;float:left}
.rechargeBg,.tkBg,.mxBg,.gcjlBg,.adrensBg,.bandkBg,.bandpBg,.xgpasBg,.czZfb,.czYl,.czLkl,.nhBg,.closeAll{width:32px;height:32px;background-color:#32B38C;float:left;margin-right:0.5em;overflow:hidden;border-radius:3px}
/*.personBg:hover,.personCenter li:hover i{background-color:#257c8c}*/
.personBg{margin-left:0.6em;background-position:-14px -1314px}
.rechargeBg{background-position:-8px -1369px}
.tkBg{background-position:-8px -1427px}
.mxBg{background-position:-7px -1488px}
.gcjlBg{background-position:-8px -1552px}
.adrensBg{background-position:-8px -1621px}
.bandkBg{background-position:-8px -1669px}
.bandpBg{background-position:-9px -1722px}
.xgpasBg{background-position:-8px -1781px}
.czYl{background-position:-16px -2703px}
.czZfb{background-position:-14px -2645px}
.czLkl{background-position:-15px -2757px}
.nhBg{background-position:-16px -3197px}
.closeAll{background-position:-18px -3250px}
.refresh{width:36px;height:40px;background-position:-5px -1847px}
.radiusShadow{border-radius:5px;box-shadow:0 2px 3px #E3E1DC inset;margin:1em 0.3em 0.5em;border:1px solid #ccc;overflow:hidden}
.personCenter li{padding:0.5em;line-height:32px;font-size:0.8em;border-bottom:1px solid #ccc}
.personCenter li .moreBg{margin-top:5px}
.personCenter li.end,.loginBox li.end{border:none}
.mt10{margin-top:10px}
.czdelete{width:25px;height:26px;background-position:-155px -258px}
.czdelete:hover{background-position:-156px -225px}
.listTz{line-height:1.5em;font-size:1em;text-align:center;margin-bottom: 110px;}
.listTz td{border-bottom:1px solid #ccc}
.listTz td.ptb10{padding:0.5em 0}
.protocol{height:30px;line-height:30px;vertical-align:top;background:#fff;text-align:center;position: relative;font-size:0.8em;}
.txt{font-size:0.8em;margin:0.5em 0.5em 50px;}
.protocol .plus{position: absolute;bottom: 0;right: 10px;}
.tzChose{height:30px;line-height:30px;border:1px solid #ccc;border-bottom:none;box-shadow:0 2px 3px #E3E1DC inset;padding:10px 0;background:#fff;text-align:center;font-size:0.8em;}
.shoutInp{width:50px;height:20px;text-align:center;border:1px solid #ccc;box-shadow:0 1px 3px #E3E1DC inset;font-size:16px "微软雅黑";color:#666;margin:0 5px}
.sj{width:30px;height:30px;background-position:-8px -1914px;border-radius:15px;background-color:#333;box-shadow:0 1px 0 #000}
.sjup{-moz-transform: rotate(180deg);-moz-transition: all 0.25s ease 0s;-webkit-transform: rotate(180deg);-webkit-transition: all 0.25s ease 0s;-o-transform: rotate(180deg);-o-transition: all 0.25s ease 0s;-ms-transform: rotate(180deg);-ms-transition: all 0.25s ease 0s;transform: rotate(180deg);transition: all 0.25s ease 0s;}
.zjNum{border:1px solid #ccc;width:100%;text-align:center;line-height:1.5em;box-shadow:0 1px 3px #E3E1DC inset;font-size:0.8em; border-collapse:collapse}
.zjNum td{border:1px solid #ccc}
.zjNum tbody td{color:#999}
.share{width:38px;height:40px;background-position:-7px -1974px}
.zyA{display:inline-block;background:red;color:#fff;position:absolute;right:5px;top:5px;height:35px;line-height:35px;padding:0 10px}
.zyA:hover{color:#fff}

/*开奖信息*/
.kjInformation{line-height:1.2em;font-size:1.0em;text-align:center}
.kjInformation td{border-bottom:1px solid #ccc;padding:0.5em}

/*开奖公告*/
.gzlist li{font-size:1.5em;line-height:2.5em;border-bottom:1px solid #ccc;padding:0 10px}
.gzlist li .moreBg{margin-top:4px}
.f22{font-size:1.25em}

/*登录*/
.inputList{background:#fff;border-bottom:1px solid #fff;border-radius:5px;overflow:hidden;padding: 10px 4px 0;box-shadow:0 2px 3px #e3e1dc inset}
.loginBox{border:1px solid #ccc;border-radius:5px;}
.loginBox li{color:#999;border-bottom:1px solid #ccc;padding-left:10px;overflow: hidden;height: 45px;font:0.9em "微软雅黑"}
.button{border-radius:5px;overflow:hidden;border-bottom:1px solid #fff;margin:7px 4px}
.line30{line-height:40px;padding:0 4px}
.showTip{font-size:1em;color:red;}
.showTipM10{font-size: 0.8em;color:red;margin-left: 0.5em;}
.toast{font-size: 0.9em;color:#fff;position:fixed;left:50%;top:50%;margin-left:-9.5em;width:19em;line-height:1.5em; vertical-align:middle;text-align:center;border-bottom:1px solid #c6c6c6;box-shadow:0 1px 0px #f8f8f8;border-radius:5px;box-shadow:0 1px 3px #E3E1DC inset;border:1px solid #ccc;background:#c00;z-index:30;display: none;padding: 3px;}
.hidden{display: none;}

/*帐户明细*/
.zcBox,.srBox{width:3em;height:3em;line-height:3em;display:inline-block;color:#fff;border-radius:1.5em;font-size:1em;box-shadow:0px 2px 0px #ddd}
.zcBox{background:#719c10}
.fzc{font-size:0.8em}
.srBox{background:#f1b824}

/*提示框*/
.dialog, .prompt{width:16em;border:1px solid #ccc;position:fixed;color:#c00;background:#eee;left:50%;top:50%;margin-left:-8em;margin-top:-2em;z-index:50;box-shadow:0 0 0 5px #ddd;display: none;}
.dialog .tit, .prompt .tit{font-size: 0.9em;margin:0 5%;line-height: 2em;vertical-align: bottom;display: none;}
.dialog .cxt, .prompt .cxt{font-size: 0.9em;margin:5% 5% 0;line-height: 1.5em;vertical-align:baseline;}
.prompt .btn{display:inline-block;width:6em;height:2em;font-size: 0.9em; line-height:2em;float:left;vertical-align:middle;background:#c00;color:#fff;text-align: center}
.prompt .l_btn{float: left;} .prompt .r_btn{float: right;}
.dialog .btnG, .prompt .btnG{height: 2em; margin:5% 5%;text-align: center;}
.dialog .btn{display:inline-block;width:6em;height:2em;font-size: 0.9em; line-height:2em;margin:0 auto;vertical-align:middle;background:#c00;color:#fff;text-align: center}

/*开奖详情*/
.look{color:#e76161;overflow:hidden;margin:0.5em 0}
.look li{width:40px;height:40px;float:left;}
.look li .num{width:30px;height:30px;line-height:30px;vertical-align:middle;border-radius:3px;background:#f1eeee;border:1px solid #ccc;font-size:0.8em;font-weight: bold;text-align:center;cursor:pointer;margin:0 auto;}
.look li .click{background:#c00;border:1px solid #c00;color:#fff}
.look li .blue{background:#69c;border:1px solid #69c;color:#fff}
/*select*/
select{border:none;width:100%;height:45px;float:left;background:none;position: absolute;z-index: 1;opacity: 0}
.loginBox li.pr label{position: absolute;left:10px;top:0;line-height: 45px;color: #999}
.loginBox li.pr b{width: 0;height: 0;overflow: hidden;border:8px solid #fff;border-top: 8px solid #999;position: absolute;right: 10px;top: 22px}
.loginBox li.pr .inputT{position: absolute;left:10px;top:0;font-size: 0.8em;line-height: 45px;color: #000}

/*活动公告*/
.read{width:0.5em;height:0.5em;display:inline-block;background:red;border-radius:0.25em;box-shadow:0px 2px 0px #ddd}

.czCbtn,.czFbtn{height:30px;display:inline-block;line-height: 30px;padding:0 10px;margin-right:10px;font-size: 18px}
.czCbtn{background:red;color:#fff}
.czFbtn {background:#ccc;color:#666}
