<div class="header">
    <h1><a  class="back" title="返回"></a><a class="fl">充值</a><i class="refresh fr"></i></h1>
</div>
<div class="box">
    <!--中国农业银行-->

    <!--广告图片-->
    <div class="czInfo">
        <i class="personBg"></i><i class="cf60"><span id="c_userName"></span></i><i class="mlr10">可用余额:<i class="cf60 mlr5"><span id="c_balance"></span></i>元</i>
    </div>
    <div class="lineB"></div>
    <div  id="abcChargeMode" class="radiusShadow">
        <ul class="personCenter">
            <li><a id="kcodepay" class="moreBg fr"></a><i class="nhBg"></i>农业银行K码支付</li>
            <li class="end"><a id="mobilepay" class="moreBg fr"></a><i class="nhBg"></i>农行手机银行支付</li>
        </ul>
    </div>
   <!-- <p><a style="font: 12px;">如何开通手机K码支付?</a><a>如何开通手机银行支付?</a> </p> -->
</div>
