<!--K码充值-->
<div class="box">
    <!--中国农业银行-->
    <div class="header"><h1><a class="back" title="返回"></a><a class="fl">K码充值</a></h1></div>
    <!--广告图片-->
    <p class="line20 red">温馨提示:<br>
        1、您现在使用的是农行K码支付，请您输入已开通K码支付的手机号码。<br>
        2、若您的手机号码绑定了多张银行卡，请输入卡号最末4位选择支付；若不输入，则使用默认绑定卡号进行支付<br>
    </p>

    <div class="inputList">
        <div class="loginBox">
            <ul>
                <li><input id="cellPhoneNumber" type="text" class="inputText " maxlength="11" placeholder="手机号码"/></li>
                <li><input id="bankCardSlice" type="text" class="inputText " maxlength="4" placeholder="银行卡后四位"/></li>
                <li class="end">
                    <input id="abcChargeMoney" type="text" class="inputText " placeholder="充值金额(元)"/>
                </li>
            </ul>
        </div>
    </div>
    <div class="button"><a id="abccodecharge" type="button" value="" class="loginBtn">确认</a></div>
</div>