<!--农行手机充值-->
<section id="abcMobileView">
    <!--中国农业银行-->
    <div class="iheader"><h1><a class="back" title="返回"></a><a class="fl">手机银行充值</a></h1></div>
    <!--
    <p class="line20 red">温馨提示:<br>
        1、您现在使用的是农行K码支付，请您输入已开通K码支付的手机号码。<br>
        2、若您的手机号码绑定了多张银行卡，请输入卡号最末4位选择支付；若不输入，则使用默认绑定卡号进行支付<br>
    </p>
     f-->
    <div class="inputList">
        <div class="loginBox">
            <ul>
                <li class="end">
                    <input id="mobileChargeMoney" type="text" class="inputText " placeholder="充值金额(元)"/>
                </li>
            </ul>
        </div>
    </div>
    <div class="button"><a id="abcMobileCharge" type="button" value="" class="loginBtn">确认</a></div>
    <a style="display: none" id="mobilecharge">1111</a>
</section>