<!-- 身份验证-->
<section id="authenticateView">
    <!--中国农业银行-->
    <div class="iheader"><h1><a class="back" title="返回"></a><a class="fl">身份认证</a></h1></div>
    <!--广告图片-->
    <p class="line30 red">请填写真实资料，身份证姓名必须与真实姓名一致</p>

    <div class="inputList">
        <div class="loginBox">
            <ul>
                <li><input id="idCardName" type="text" class="inputText" /></li>
                <li class="end">

                    <input id="idCode" type="text"  class="inputText"/>
                </li>
            </ul>
        </div>
    </div>
    <div class="button"><a id="bindCardID" type="button"  class="loginBtn"></a></div>
</section>