<!--绑定手机号-->
<div class="box">
    <div class="header"><h1><a class="back" title="返回"></a><a class="fl">手机号绑定</a></h1></div>
    <p class="line20 red">资料一经填写不可修改,如需修改,请联系客服</p>
    <div class="inputList">
        <div class="loginBox">
            <ul>
                <li class="pr"><input id="telephoneNumber" type="text" class="inputText" placeholder="手机号码" maxlength="11" /><a   id="verificate" class="zyA">我要验证</a></li>
                <li class="end"><input id="captcha" type="text" class="inputText" placeholder="验证码" /></li>
            </ul>
        </div>
    </div>
    <div class="button"><a id="bindTeleNumber" type="button"  class="loginBtn" >确认</a></div>
</div>