<!--修改密码-->
<section class="editPassWordView">
    <!--中国农业银行-->
    <div class="iheader"><h1><a  class="back" title="返回"></a><a class="fl">修改密码</a></h1></div>
    <div class="inputList mt30">
        <div class="loginBox">
            <ul>
                <li><input id="oldPassword" type="password" class="username cccc" placeholder="原登录密码"  maxlength="30" /></li>
                <li><input id="newPassword" type="password" class="password cccc" placeholder="新登录密码" maxlength="15" /></li>
                <li class="end"><input  id="confirmNewPassword" type="password" class="password cccc" placeholder="确认新密码" maxlength="15" /></li>
            </ul>
        </div>
    </div>
    <div class="button"><input id="editPassword" type="button"  value="确认" class="loginBtn" /></div>
</section>