<!--充值-->
<div class="box">
    <!--中国农业银行-->
    <div class="header"><h1><a class="back" title="返回"></a><a  class="fl">充值</a><i class="refresh fr"></i></h1></div>
    <!--广告图片-->
    <div class="czInfo">
        <i class="personBg"></i><i class="cf60">刷新爱情</i><i class="mlr10">可用余额：<i class="cf60 mlr5">1000.2</i>元</i>
    </div>
    <div class="lineB"></div>
    <div class="radiusShadow">
        <ul class="personCenter">
            <li><a class="moreBg fr"></a><i class="czZfb"></i>支付宝手机充值</li>
            <li><a class="moreBg fr"></a><i class="czYl"></i>银联手机充值</li>
            <li class="end"><a class="moreBg fr"></a><i class="czLkl"></i>拉卡拉充值</li>
        </ul>
    </div>
</div>