<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>ecpgj</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>abckpay</servlet-name>
        <servlet-class>com.html5.user.bank.filter.AbcKCodeChargeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>abcmpay</servlet-name>
        <servlet-class>com.html5.user.bank.filter.AbcMobileChargeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>abckpay</servlet-name>
        <url-pattern>/abckpay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>abcmpay</servlet-name>
        <url-pattern>/abcmpay</url-pattern>
    </servlet-mapping>

<!--    <servlet-mapping>
        <servlet-name>bandingBankCard</servlet-name>
        <url-pattern>/bandingBankCard</url-pattern>
    </servlet-mapping>-->
</web-app>