<section id="digitDetailsView"> 

    <!--中国农业银行-->
    <div class="header">
        <h1>
            <a class="back" title="返回"></a><span class="fl">公告详情</span>
        </h1>
    </div>

    <!--标题-->
    <div class="ballIssue">
        <div id="noticeTitle" class="czInfoS showTip tc">
        </div>
        <div class="lineB"></div>
    </div>

    <!--详情-->
    <div class="lBox balls">

    </div>

    <!--尾部-->
    <div class="footer">
        <div class="tzBox">立即参与</div>
    </div>

</section>