<section id="noticeListView">

    <!--中国农业银行-->
    <div class="header">
        <h1>
            <a class="back" title="返回"></a><span class="fl">活动公告</span>
        </h1>
    </div>

    <!--详情-->
    <div class="box">
        <table cellpadding="0" cellspacing="0" width="100%" class="listTab">
            <colgroup>
                <col width="60">
                <col>
                <col width="40">
            </colgroup>
            <tbody>

            </tbody>
        </table>
    </div>

</section>